
/*====================== Block Navbar=======================*/
#page_title{
	color: white;
	text-align: center;
	font-size: 80px;
    /*margin: 0;*/
}

#header{
    background-image: url("../images/nyc.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 0% 35%;
    margin: 0;
}

.container{
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav{
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover{
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active{
    background-color: #4CAF50;
    color: white;
}
/*=============================================================================*/



/*============================Block Dynamic index.html=========================*/
    

#flex-container{
  display: flex;
  background: black;
}

.box-one{
    height: 100px;
    min-width: 100px;
    background: #a8a8a8;
    flex-grow: 1;
    margin: 20px;
}

.box-three{
    height: 100px;
    min-width: 100px;
    background: #a8a8a8;
    flex-grow: 1;
    margin: 20px;
}

.box-two{
    height: 100px;
    min-width: 100px;
    background: #a8a8a8;
    flex-grow: 1;
    margin: 20px;
}

.index-lables {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.index-price{
    text-align: center;
    color: white;
}

.index-change{
    text-align: center;
    color: white;
 }

 #red{
    color: #ff0000;
 }

 #green{
    color: #00ff00;
    /*font-weight: bold;*/
 }

.home-quote{
    text-align: center;
    color: black;
    padding:15px;
    font-family: "Caflisch Script Pro", cursive;
    font-weight: bolder;
    font-size: 23px;

}

#mid_page_title{
    color: black;
    font-family: 'Droid serif';
    font-style: italic;
    font-size: 44px;
    text-align: center;
    text-decoration: underline;
}

.explaniation{
    margin-right: 100px;
    margin-left: 100px;
    font-family: 'Droid serif';
    font-size: 18px;
}

.jumbotron{
    /*background-color: gray;*/
}


/*==================LOGIN, Register, Build Portfolio================================*/
.login{
    text-align: center;
    font-family: 'Droid serif';
    text-decoration: underline;
    font-size: 40px;
}

.build_portfolio_list{
    font-family: 'Droid serif';
    /*font-weight: bold;*/
}

.wrap{
    width: 500px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px;
    background: gray;
    border: 5px black;

}

.wrap input{
    width: 450px;
    height: 35px;
    margin-bottom: 10px;
    /*border-radius: 10px;*/
    border:1px solid;
    border:1px solid silver;
    padding: 5px;
}

.hhh{
    background-color: #00CC66;

}
/*=====================================================================================*/

/*==============================Dashboard===============================================*/

.dashboard_header{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}



/*==============================Analyzed===============================================*/
.stock_list{
    font-size: 44px;
    font-family: 'Droid serif';
    text-align: center;
    text-decoration: underline;
    /*font-weight: bold;*/
}

.portfolio_stock{
    column-count: 2;
    column-rule-style: solid;
    color: white;
    min-height: 100px;
    min-width: 100px;
    background: gray;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    padding-left: 20px;
}


.analyze_button{
    text-align: center;
    /*margin-bottom: 1px;*/
    font-weight: bold;
    background-color: black;
    padding: 10px;
}

.chart_button_div{
    text-align: center;
    background-color: black;
}

.chart_title{
    height:70vh;
    width:100%;
    padding:0; 
    background-color: white;
    display: none;
    text-align:center;
    text-decoration: underline;
    font-family: 'Droid serif';
}

.portfolio_chart_title{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Droid serif';
}


#portfolio_graph{
    padding-right: 30px;
    padding-left: 15px;
    margin-top: 20px;

}

#portfolio_graph_three{
    padding-right: 30px;
    padding-left: 15px;
    margin-top: 20px;
}

#portfolio_graph_five{
    padding-right: 30px;
    padding-left: 15px;
    margin-top: 20px;
}

.stats_title{
    font-family: 'Droid serif';
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.total_returns{
    text-align: center;
    font-family: 'Droid serif';
    font-size: 15px;
}

.win{
    text-align: center;
    color: green;
    font-weight: bold;
    font-family: 'Droid serif';
}

.lose{
    text-align: center;
    color: red;
    font-weight: bold;
}

.portfolio_stats_info{
    font-size: 24px;
    text-align: center;
    font-family: 'Droid serif';
}



.explaniation_title{
    text-align: center;
    text-decoration: underline;
    /*font-weight: bold;*/
    font-family: 'Droid serif';
    font-size: 32px;
}

.explained{
    margin-left: 35px;
    margin-right: 35px;
    font-family: 'Droid serif';
    font-size: 18px;
}

/*==============================Stock Info===============================================*/

.info_titles{
    font-weight: bold;
    /*text-decoration: underline;*/
    font-family: 'Droid serif';
    margin-left: 40px;
    margin-right: 40px;
    font-size: 22px;
}

.individual_stock_info{
    font-family: 'Droid serif';
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}

.individual_stock_title{
    font-family: 'Droid serif';
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 44px;  
}


