#page_title {
	color: white;
	text-align: center;
	font-size: 80px;
    margin: 0;
}

#header{
    background-image: url("nyc.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 0% 35%;
    margin: 0;
    
}

#flex-container {
  display: flex;
  background: black;
}

.box-one{
    height: 100px;
    min-width: 100px;
    background: gray;
    flex-grow: 1;
    margin: 20px;
}

.box-three{
    height: 100px;
    min-width: 100px;
    background: gray;
    flex-grow: 1;
    margin: 20px;
}

.box-two{
    height: 100px;
    min-width: 100px;
    background: gray;
    flex-grow: 1;
    margin: 20px;
}

.index-lables {
    text-align: center;
    color: white;
    font-weight: bold;
}

.index-price{
    text-align: center;
    color: white;
}

.index-change{
    text-align: center;
    color: white;
}

.home-quote{
    text-align: center;
    color: black;
    padding:15px;
    font-family: "Caflisch Script Pro", cursive;
    font-weight: bold;

}




/*==================LOGIN================================*/
.login{
    text-align: center;
}


.wrap{
    width: 500px;
    margin:auto;
    margin-top: 150px;
    padding:20px;
    background: gray;
    border:1px solid silver;

}

.wrap input{
    width: 450px;
    height: 35px;
    margin-bottom: 10px;
    /*border-radius: 10px;*/
    border:1px solid;
    border:1px solid silver;
    padding: 5px;
}






.container {
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
