{% extends "index.html" %}
{% block dynamic %}
<div id="flex-container">
    <div class="portfolio_stock">
        <h4 class="portfolio_stock_info">S&#38;P 500</h4>
        <p class="portfolio_stock_info"> Price: $2330 </p>
        <p class="portfolio_stock_info">Beta: 1</p>
        <p class="portfolio_stock_info">P/E Ratio: 17.5x</p>
        <p class="portfolio_stock_info">Earnings Yield: %</p>
        <p class="portfolio_stock_info">Dividend Yield: 1.95%</p>
        <p class="portfolio_stock_info">50 Day MA: </p>
        <p class="portfolio_stock_info">200 Day MA</p>
        <p class="portfolio_stock_info">Price target: $</p>
    </div>
</div>
<h2 class="stock_list">Stock List</h2>
{% for i in stocks %}
<div id="flex-container">
<div class="portfolio_stock">
	<h4 class="portfolio_stock_info">{{ i[0][0] }}: {{ i[0][1] }}</h4>
	<p class="portfolio_stock_info">{{ i[1][0] }}: {{ i[1][1] }}</p>
    <p class="portfolio_stock_info">{{ i[2][0] }}: ${{ i[2][1] }}</p>
    <p class="portfolio_stock_info">{{ i[3][0] }}: {{ i[3][1] }}x</p>
    <p class="portfolio_stock_info">{{ i[4][0] }}: {{ i[4][1] }}%</p>
    <p class="portfolio_stock_info">{{ i[5][0] }}: {{ i[5][1] }}%</p>
    <p class="portfolio_stock_info">{{ i[6][0] }}: ${{ i[6][1] }}</p>
    <p class="portfolio_stock_info">{{ i[7][0] }}: ${{ i[7][1] }}</p>
    <p class="portfolio_stock_info">{{ i[8][0] }}: ${{ i[8][1] }}</p>
    <p class="portfolio_stock_info">{{ i[9][0] }}: ${{ i[9][1] }}</p>
</div>
</div>
<div class="chart_button_div" data-ticker="{{ i[1][1] }}">
        <button type="submit" class="chart_button" data-ticker="{{ i[1][1] }}">{{ i[0][1] }} chart</button>
</div>
<div class="analyze_button">
    <form method="post" action="/stock-info/{{ i[1][1] }}">
        <button type="submit">Click here to get more in depth analysis on {{ i[0][1] }}!</button>
    </form>
</div>
<div class="chart_title ct{{ i[1][1] }}">
    <h4>{{ i[1][1] }} vs S&#38;P500 Graph</h4>
    <div class="graph g{{ i[1][1] }}">
    </div>
    <button type="submit" class="close_graph cg{{ i[1][1] }}">Close Graph</button>
</div>
{% endfor %}
<div id="portfolio_graph">
    <h2 class="portfolio_chart_title">Your Portfolio vs S&#38;P500</h2>
    <h4 class="portfolio_chart_title">1 year performance</h4>
    <h5 class="total_returns">Portfolio Return: {{ one_yr_change }}%     S&#38;P500 Return: {{ sp_one_yr_change }}%</h5>
    {% if one_yr_change > sp_one_yr_change %}
    <h4 class="win">YOUR PORTFOLIO BEAT THE MARKET!!!!</h4>
    {% else %}
    <h4 class="lose">The market beat your portfolio</h4>
    {% endif %}
    <div id="portfolio_vs_sp" data-returns="{{ portfolio }}">
    </div>
</div>
<div id="portfolio_graph_three">
    <h4 class="portfolio_chart_title">3 year performance</h4>
    <h5 class="total_returns">Portfolio Return: {{ three_yr_change }}%     S&#38;P500 Return: {{ sp_three_yr_change }}%</h5>
    {% if three_yr_change > sp_three_yr_change %}
    <h4 class="win">YOUR PORTFOLIO BEAT THE MARKET!!!!</h4>
    {% else %}
    <h4 class="lose">The market beat your portfolio</h4>
    {% endif %}
    <div id="portfolio_vs_sp_three" data-returns="{{ portfolio_three }}">
    </div>
</div>
<div id="portfolio_graph_five">
    <h4 class="portfolio_chart_title">5 year performance</h4>
    <h5 class="total_returns">Portfolio Return: {{ five_yr_change }}%     S&#38;P500 Return: {{ sp_five_yr_change }}%</h5>
    {% if five_yr_change > sp_five_yr_change %}
    <h4 class="win">YOUR PORTFOLIO BEAT THE MARKET!!!!</h4>
    {% else %}
    <h4 class="lose">The market beat your portfolio</h4>
    {% endif %}
    <div id="portfolio_vs_sp_five" data-returns="{{ portfolio_five }}">
    </div>   
</div>
<div id="portfolio_stats">
    <h2 class="stats_title">Portfolio Statistics</h2>
    <h4 class="portfolio_stats_info">Portfolio Beta: {{ portfolio_beta }}</h4>
    <h4 class="portfolio_stats_info">Portfolio Return 1yr: {{ one_yr_change }}%</h4>
    <h4 class="portfolio_stats_info">Portfolio Return 3yr: {{ three_yr_change }}%</h4>
    <h4 class="portfolio_stats_info">Portfolio Return 5yr: {{ five_yr_change }}%</h4>
</div>
<div class="portfolio_explaniation">
    {% if objective == "Speculation" %}
        <h3 class="explaniation_title">Portfolio Beta</h3>
        <p class="explained">{{ portfolio_stats[0] }}</p>
        <h3 class="explaniation_title">Other Information</h3>
        <p class="explained"> {{ portfolio_stats[1] }}
    {% elif objective == 'Income' %}
        <h3 class="explaniation_title">Portfolio Beta</h3>
        <p class="explained">{{ portfolio_stats[0] }}</p>
        <h3 class="explaniation_title">Dividend Yield</h3>
        <p class="explained"> {{ portfolio_stats[1] }}
    {% endif %}
</div>

{% endblock %}







