{% extends "index.html" %}
{% block dynamic %}	
	<div class="wrap">
		<h1 class="login">Build your portfolio</h1>
		<form action="/analyze" method="post" autocomplete="off">
			<h3 class="build_portfolio_list">Objective</h3>
			<input list="objective-list" name="objective" placeholder="Choose from the dropdown menu" required>
		  		<datalist id="objective-list">
		  			<!-- <select> -->
			    	<option value="Growth"><!-- Growth</option> -->
			    	<option value="Income"><!-- Income</option> -->
			    	<option value="Speculation"><!-- Speculation</option> -->
			    	<!-- </select> -->
				</datalist>
			<h3 class="build_portfolio_list">Time Horizon</h3>
			<input list="time-horizon" name="time" placeholder="Choose from the dropdown menu" required>
				<datalist id="time-horizon">
					<!-- <select> -->
					<option value="1-5 years"><!-- 1-5 years</option> -->
			    	<option value="5-10 years"><!-- 5-10 years</option> -->
			    	<option value="10+ years"><!-- 10+ years</option> -->
			    	<!-- </select> -->
			    </datalist>
			<h3 class="build_portfolio_list">Stocks</h3>
			<input type="text" name="stocks" placeholder="Input ticker symbols separated by commas: AAPL,MSFT,AMZN" required>
			<button type="submit" class="btn btn-primary btn-block btn-large">Analyze</button>
			
		</form>
	</div>
{% endblock %}

