<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/style.css"> <!-- link tags for css-->
        <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript" src="static/behavior.js"></script>  script tags for js--> 
        <title>Optimize</title>
    </head>
    <body>
        {% block navbar %}
        <div class="page-header" id="header">
            <h1 id="page_title">Optimize</h1>
        </div>
        <nav class="navbar navbar-inverse">
              <ul class="nav navbar-nav">
                
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="register">Register</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
              </ul>
        </nav>
        {% endblock %}
        {% block dynamic %}
        <div id="flex-container">
            <div class="box-one">
                <h4 class="index-lables">Dow</h4>
                <p class="index-price">price dynamic</p>
                <p class="index-change">%change dynamic</p>
            </div>
            <div class="box-two">
                <h4 class="index-lables">S&#38;P 500</h4>
                <p class="index-price">price dynamic</p>
                <p class="index-change">%change dynamic</p>
            </div>
            <div class="box-three">
                <h4 class="index-lables">Nasdaq</h4>
                <p class="index-price">price dynamic</p>
                <p class="index-change">%change dynamic</p>
            </div>
        </div>
        <div>
            <h4 class="home-quote">"Know what you own, and know why you own it." - Peter Lynch</h4>
            <h4 class="home-quote">"Wide diversification is only required when investors do not understand what they are doing." - Warren Buffett</h4>
        </div>   
        <div class="jumbotron">
          <div class="container">
            <h2>Click below to analyze your portfolio today!</h2>
            <p><a class="btn btn-primary btn-lg" href="build-portfolio" role="button">Create and Analyze</a></p>
          </div>
        </div>
        {% endblock %}
    </body>
  </html>