<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Optimize</title>
    </head>
    <body>
        {% block navbar %}
        <div class="page-header" id="header">
            <h1 id="page_title">Optimize</h1>
        </div>
        <nav class="navbar navbar-inverse">
              <ul class="nav navbar-nav">
                
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="register">Register</a>
                </li>
                <li>
                    <a href="analyzed">About</a>
                </li>
              </ul>
        </nav>
        {% endblock %}
        {% block dynamic %}
        <div id="flex-container">

            <div class="box-one">
                <h4 class="index-lables">Dow</h4>
                <p class="index-price">${{ dow_price }}</p>
                {% if dow_percent_change > 0 %}
                <p id= "green" class="index-change">Daily Change: +{{ dow_percent_change }}%</p>
                {% elif dow_percent_change == None %}
                <p class="index-change">Daily Change: 0.00%</p>
                {% else %}
                <p id="red" class="index-change">Daily Change: -{{ dow_percent_change }}%</p>
                {% endif %}
            </div>
            <div class="box-two">
                <h4 class="index-lables">S&#38;P 500</h4>
                <p class="index-price">${{ sp_price }}</p>
                {% if sp_percent_change[0] == "+" %}
                <p id="green" class="index-change">Daily Change: {{ sp_percent_change }}</p>
                {% elif sp_percent_change == None %}
                <p class="index-change">Daily Change: 0.00%</p>
                {% else %}
                <p id="red" class="index-change">Daily Change: {{ sp_percent_change }}</p>
                {% endif %}
            </div>
            <div class="box-three">
                <h4 class="index-lables">Nasdaq</h4>
                <p class="index-price">${{ nasdaq_price }}</p>
                {% if nasdaq_percent_change[0] == "+" %}
                <p id="green" class="index-change">Daily Change: {{ nasdaq_percent_change }}</p>
                {% elif nasdaq_percent_change == None %}
                <p class="index-change">Daily Change: 0.00%</p>
                {% else %}
                <p id="red" class="index-change">Daily Change: {{ nasdaq_percent_change }}</p>
                {% endif %}
            </div>
        </div>
        <div class="optimize_explained">
            <h2 id="mid_page_title">What is Optimize?</h2>
            <p></p>
        <div>
            <h4 class="home-quote">"Know what you own, and know why you own it." - Peter Lynch</h4>
            <p class="explaniation">Just as the quote above states, it is critical that every investor understands
                why they are holding a certain stock and what purpose that stock has in a portfolio. Optimize aims
                to help make this process for investors. Investors  start by entering an objective, a time horizon, and hypothetical
                stocks that they want to hold in their portfolio. Optimize will then output details on each individual stock
                as well as provide an analysis of the portfolio as a whole. You will get to see how your hypothetical portfolio
                would have performed against the S&#38;P500 in the past. Optimize will then make suggestions on how to imporve
                your portfolio if determines that the stocks that you hold do not match your stated objective. So what are you wating for??? Click the button below and analyze your portfolio today!</p>   
            <h4 class="home-quote">"Wide diversification is only required when investors do not understand what they are doing." - Warren Buffett</h4>
        </div>   
        <div class="jumbotron">
          <div class="container">
            <h2>Click below to analyze your portfolio today!</h2>
            <p><a class="btn btn-primary btn-lg" href="build-portfolio" role="button">Create and Analyze</a></p>
          </div>
        </div>
        {% endblock %}
        <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
        <script type="text/javascript" src="../static/js/analyzed.js"></script>
    </body>
  </html>