{% extends "index.html" %}
{% block dynamic %}
<h2>{{ name }}</h2>
<h4 class="info_titles">Market cap: {{ market_cap }}</h4>
<p>{{ }}</p>
<h4 class="info_titles">Price/Earnings Ratio: {{ pe_num }}x</h4>
<p>{{ pe }}</p>
<h4 class="info_titles">Beta: {{ num_beta }}</h4>
<p>{{ beta }}</p>
<h4 class="info_titles">Earnings Yield: {{ ey_num }}%</h4>
<p>{{ ey }}</p>
<h4 class="info_titles">Dividend Yield: {{ div_num }}%</h4>
<p>{{ div }}</p>
<h4 class="info_titles">Target Price: ${{ target_num }}</h4>
<p>{{ target }}</p>
{% endblock %}