{% extends "index.html" %}
{% block dynamic %}
<!-- <script src="../static/js/repass.js"></script> -->
<h2 class="individual_stock_title">{{ name }}</h2>
<h4 class="info_titles">Price/Earnings Ratio: {{ pe_num }}x</h4>
<p class="individual_stock_info">{{ pe }}</p>
<h4 class="info_titles">Beta: {{ num_beta }}</h4>
<p class="individual_stock_info">{{ beta }}</p>
<h4 class="info_titles">Earnings Yield: {{ ey_num }}%</h4>
<p class="individual_stock_info">{{ ey }}</p>
<h4 class="info_titles">Dividend Yield: {{ div_num }}%</h4>
<p class="individual_stock_info">{{ div }}</p>
<h4 class="info_titles">50 Day Moving Average: ${{ fifty }}, Two Hundred Day Moving Average: ${{ two }}</h4>
<p class="individual_stock_info">{{ ma_compare }}</p>
<h4 class="info_titles">Target Price: ${{ target_num }}</h4>
<p class="individual_stock_info">{{ target }}</p>
{% endblock %}